<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>maven-central-proxy</id>
            <name>Maven Central Proxy</name>
            <url>https://europe-west1-maven.pkg.dev/production-208613/maven-central</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>maven-central-proxy</id>
            <username>oauth2accesstoken</username>
            <password>${env.GCP_ACCESS_TOKEN}</password>
        </server>
        <server>
            <id>artifact-registry-demo</id>
            <username>oauth2accesstoken</username>
            <password>${env.GCP_ACCESS_TOKEN}</password>
        </server>
        <server>
            <id>artifact-registry-demo-snapshot</id>
            <username>oauth2accesstoken</username>
            <password>${env.GCP_ACCESS_TOKEN}</password>
        </server>
    </servers>
</settings>
