<?xml version="1.0" encoding="UTF-8"?>
<settings
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
    xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <profiles>
        <profile>
            <repositories>
		            <repository>
                    <id>regnosys-virtual-maven</id>
                    <url>artifactregistry://europe-west1-maven.pkg.dev/production-208613/regnosys-virtual-maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>regnosys-virtual-maven-snapshot</id>
                    <url>artifactregistry://europe-west1-maven.pkg.dev/production-208613/regnosys-virtual-maven-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>regnosys-virtual-maven</id>
                    <url>artifactregistry://europe-west1-maven.pkg.dev/production-208613/regnosys-virtual-maven</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>regnosys-virtual-maven-snapshot</id>
                    <url>artifactregistry://europe-west1-maven.pkg.dev/production-208613/regnosys-virtual-maven-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>central-snapshots</id>
                    <url>https://s01.oss.sonatype.org/content/repositories/snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <id>ar</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>ar</activeProfile>
    </activeProfiles>
</settings>
