{"fileName":"cdm-sample-files/$CATEGORY_NAME$/$TEST_NAME$/$TEST_SAMPLE_NAME$","excludedPaths":0,"externalPaths":1,"outstandingMappings":0,"validationFailures":0,"qualificationExpectation":{"success":true,"qualifyResults":[],"qualifiableObjectCount":0}}